In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
import autokeras as ak

Using TensorFlow backend

In [3]:
df= pd.read_excel(r"C:\Users\yedla\Downloads\Stacking_max_stress\vznd6z234n-1\Data.xlsx")
df.head()

,L1,L2,L3,L4,L5,L6,force,depth,hole_radius,circle_radius,hole_angle,width,length,max_stress
0,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,250,1726.66
1,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,200,1727.58
2,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,150,1731.44
3,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,100,1734.23
4,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,32,250,1975.26

In [4]:
y=df.iloc[:,-1:]
y.head()

   max_stress
0     1726.66
1     1727.58
2     1731.44
3     1734.23
4     1975.26

In [5]:
X=df.iloc[:,:-1]
X.head()

,L1,L2,L3,L4,L5,L6,force,depth,hole_radius,circle_radius,hole_angle,width,length
0,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,250
1,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,200
2,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,150
3,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,36,100
4,0,90,45,-45,90,0,40000,3.636,3.0,4.5,15,32,250

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=19)

In [7]:
print(len(X_train),len(X_test))

6136 2630

In [8]:
# Initialize the StructuredDataRegressor
reg = ak.StructuredDataRegressor(max_trials=5,overwrite=True,metrics=['mae','mse'])

In [9]:
# Search for the best model.
reg.fit(X_train.to_numpy(),y_train.to_numpy(), validation_split=0.2,epochs=70, verbose=0)

INFO:tensorflow:Oracle triggered exit
INFO:tensorflow:Assets written to: .\structured_data_regressor\best_model\assets

In [10]:
reg.evaluate(X_test, y_test)

83/83 [==============================] - 1s 3ms/step - loss: 52133.0078 - mae: 148.6940 - mse: 52133.0078

[52133.0078125, 148.6940460205078, 52133.0078125]

In [11]:
predicted = reg.predict(X_test).flatten()
real = y_test.to_numpy()
for i in range(10):
    print('Predicted Stress:', predicted[i].round(3))
    print('Real stress:', real[i].round(0))
    print('')

83/83 [==============================] - 1s 3ms/step
83/83 [==============================] - 0s 2ms/step
Predicted Stress: 1295.769
Real stress: [1338.]

Predicted Stress: 2023.948
Real stress: [1857.]

Predicted Stress: 1571.021
Real stress: [1637.]

Predicted Stress: 3884.376
Real stress: [4080.]

Predicted Stress: 2470.07
Real stress: [2799.]

Predicted Stress: 514.044
Real stress: [471.]

Predicted Stress: 2986.076
Real stress: [2827.]

Predicted Stress: 1068.036
Real stress: [1108.]

Predicted Stress: 887.572
Real stress: [1015.]

Predicted Stress: 2025.141
Real stress: [2051.]

In [12]:
keras_model = reg.export_model()
keras_model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 13)]              0

 multi_category_encoding (Mu  (None, 13)               0
 ltiCategoryEncoding)

 normalization (Normalizatio  (None, 13)               27
 n)

 dense (Dense)               (None, 32)                448

 re_lu (ReLU)                (None, 32)                0

 dense_1 (Dense)             (None, 32)                1056

 re_lu_1 (ReLU)              (None, 32)                0

 dense_2 (Dense)             (None, 1024)              33792

 re_lu_2 (ReLU)              (None, 1024)              0

 regression_head_1 (Dense)   (None, 1)                 1025

=================================================================
Total params: 36,348
Trainable params: 36,321
Non-trainable params: 27
_________________________________________________________________

In [14]:
!pip install pydot

Collecting pydot
  Downloading pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\yedla\anaconda\lib\site-packages (from pydot) (3.0.4)
Installing collected packages: pydot
Successfully installed pydot-1.4.2

In [15]:
#from tensorflow.keras.utils import plot_model
#plot_model(keras_model)

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.

In [ ]:
#model.save('/content/models/regression_model',save_format="tf")